Package: com.samgisaninja.jailbreakgeniusassistant
Name: r/Jailbreak Genius™ Assistant
Version: 1.0
Architecture: iphoneos-arm
Author: Sam Gardner & olvrb <stgardner4@att.net>
Section: Utilities
Icon: file:///Applications/jailbreakgeniusassistant.app/AppIcon76x76@2x~ipad.png
