Name: r/Jailbreak Genius Assistant
Package: com.samgisaninja.jailbreakgeniusassistant
Priority: optional
Depends: firmware (>= 7.0)
Version: 1.1
Architecture: iphoneos-arm
Description: get technical support from r/jailbreak discord
Sponsor: thebigboss.org <http://thebigboss.org>
Maintainer: Sam Gardner <stgardner4@att.net>
Author: Samg_is_a_Ninja & olvrb <stgardner4@att.net>
Section: Utilities
Tag: purpose::uikit, compatible::ios11
Installed-Size: 4643
Icon: file:///Applications/jailbreakgeniusassistant.app/AppIcon60x60@2x.png
